{% extends "layout.html" %}

{% block content %}
    <div id="mentors">
        <table>
            <tr>
                {% for key in data[0].keys() %}
                    <th>{{ (key.replace('_', ' ')).capitalize() }}</th>
                {% endfor %}
            </tr>

            {% for row in data %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor%}
        </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}